<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Nome do Produto</label>
    <input type="text" class="form-control" [(ngModel)]="item.name" name="nome"/>
    <label>Imagem URL</label>
    <input type="text" class="form-control" [(ngModel)]="item.imgSrc" name="nome"/>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <button type="button" class="btn btn-warning" (click)="cancelar()">Cancelar</button>
</form>

<ul *ngIf="items && items.length>0">
  <li *ngFor="let item of items">
    {{item && item.name}} - {{item && item.assigned && item.assigned.name}}
  </li>
</ul>

