nav {
  background-color: #58BDC5;
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-family: 'Gabriela';
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    padding: 0;
  }
  .logout{
    width: 30px;
    height: auto;
  }
}
